*{
    margin: 0;
    box-sizing: border-box;
    padding: 0;


}
body {
    background-image:linear-gradient(to bottom, orange, blue);
    font-family: sans-serif;
    min-height: 100vh;
    max-width: 1300px;
    margin: 20px;
}
header{
    /* background-color: azure; */
    max-width: 1300px;
    height: 80px;
    display: flex;
    padding: 20px;
    margin: 10px;
    justify-content: space-between;
    align-items: center;
}
.navbar { 
    display: flex;
    align-items: center;
    padding: 10px;
}

.spaced-list{
    display: flex;
    gap: 100px;
    list-style: none;
    padding: 20px;


}

.hero{
    max-width: 1200px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 20px;
    height: 100vh;
    margin: 20px;
    padding: 50px;
}
.hero-content{
    display: flex;
    flex-direction: column;
    gap: 10px;
    padding: 30px;
    max-width: 650px;
}

.img{
height: 400px;
    width: 400px;
    border-radius: 12px;
}
h1{
    font-size: 40px;
}
h2{
    font-size: 25px;
}
h3{
    font-size: 24px;
}
p{
    font-size: 15px;
}

.button{
    height: 50px;
    width: 150px;
    margin-top: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    color: brown;
    background-color: rgb(163, 170, 168);
    border-radius: 12px;
    font-weight: 700;
}
.About{
    /* background-color: aqua; */
     max-width: 1200px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 30px;
    height: 100vh;
    margin: 20px;
    padding: 30px;
}
.skills-container{
    display: grid;
    gap: 10px;
    grid-template-columns: 450px 1fr ;

}
.skill-card{
    background-color: azure;
    height: 200px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-radius: 12px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.5);
}